.copyright
	background black
	display flex
	justify-content space-between
	width 100%
	color lightPink
	font-size 2vw
	padding 1vw 2vw
	font-weight 300
	
	&__link
		text-decoration none
		
		&:hover
			text-decoration underline
			
@media all and (min-width: 980px)
			
	.copyright
		font-size 1.5vw
		font-weight 100
		
@media all and (min-width: 1200px)
			
	.copyright
		font-size 16px