.footer
	background pink
	display flex
	justify-content space-around
	padding 6vw
	width 100%
	
	.navigation__list
		flex-direction column
	
	.navigation__link
		color white
		font-family playfair
		
	.dropdown
		background-color transparent
		box-shadow none
		max-height initial
		opacity 1
		position relative
		top 0
		width auto
			
		.navigation__link
			font-family montserrat

	svg,
	&__map
		width 35vw
		margin-left -8vw
	
// TODO get pip to work on scroll	
// .pip
// 	transform translate(0,-25px)
// 	transition transform .35s ease
	
// 	&.scrolledTo
// 		transform translate(0,0)