.banner
	display flex
	align-items flex-start
	width 100%
	order 1

	&__image
		width 100%
		
@media all and (min-width: 980px)

	.banner 
		margin-bottom 5vw
		height auto
			
		&__image 
			height auto