.intro
	background gray
	display flex
	flex-wrap wrap
	justify-content space-around
	padding 5vw
	width 100%
	order 5
	margin-bottom 10vh
	
	&__text
		color white
		font-family playfair
		font-size 3vw
		font-weight normal
		line-height 2
		margin-bottom: 4vw;
		
		&--large
			color white
			font-family playfair
			font-size 6vw
			font-weight normal
			line-height 1.5
			max-width 1000px
			padding-bottom 4vw
			padding-top 4vw
			width 98%

	&__name
		font-size 4vw
		margin-top 2vw
			
	&__link
		color white
		
.headshot
	display none
		
@media all and (min-width: 980px)

	.intro
		order 15
		margin-bottom 0
		
		&__text
			font-size 1.5vw
			line-height 1.75
			
			&--large
				font-size 3vw
				padding-bottom 2vw
				padding-top 0
				
		&__name
			font-size 1.75vw
			
	.headshot
		order 17
		display flex
		align-items flex-start

		.image
			padding-bottom 0
			
@media all and (min-width: 980px)

	.intro
			
			&__text
				font-size 18px
				
				&--large
					font-size 24px
					padding-bottom 16px
					padding-top 0
					
			&__name
				font-size 20px