.column
	display flex
	flex-wrap wrap
	margin-bottom 8vw
	max-width 1000px
	width 90%
		
.columns
	display flex
	flex-wrap wrap
	justify-content space-around
	margin-bottom 8vw
	max-width 1000px
	width 90%
	
.column-3 
	max-width 300px
	width 31%
	
.column-2
	max-width 425px
	width 48%