.nav-blocks
	display flex
	justify-content space-around
	flex-direction column
	max-width 1000px
	padding-bottom 6vw
	width 90%
	order 10
				
	&__block
		align-items center
		display flex
		flex-basis 90vw
		justify-content center
		overflow hidden
		position relative
		text-decoration none
		margin-bottom 5vw
		
		&:after
			background-color rgba(0,0,0,.55)
			content ''
			height 100%
			position absolute
			transition all .35s ease-in-out
			width 100%
			left 0
			top 0
		
		&:focus
			.nav-blocks__image
				transform scale(1)
				
			.nav-blocks__text
				transform translateY(-4px)
				
				&:after
				&:before
					opacity 1
				
			&:after
				background-color rgba(0,0,0,.7)
		
	&__image
		border 0
		height 100%
		position absolute
		transform scale(1.1)
		transition all .35s ease-in-out
		z-index -1
		top 0
		left 0
		
	&__text
		color white
		display block
		font-family playfair
		font-size 7vw
		font-weight normal
		padding 10%
		text-align center
		text-transform uppercase
		z-index 10
		transition all .35s ease-in-out
		transform translateY(0)
		position relative
		
		&:after
			background-color white
			content ''
			height 2px
			position absolute
			transition all .35s ease-in-out
			width 60%
			opacity 0
			bottom 16px
			left 20%
			
		&:before
			background-color white
			content ''
			height 2px
			position absolute
			transition all .35s ease-in-out
			width 60%
			opacity 0
			top 16px
			left 20%
	
	
			
@media all and (min-width: 980px)

	.nav-blocks
		flex-direction row
		padding-bottom 10px
	
		&__block
			flex-basis 30%
			height 27vw // 90% (max-width of section) * .3
			max-height 300px
			
			&:hover
				.nav-blocks__image
					transform scale(1)
					
				.nav-blocks__text
					transform translateY(-4px)
					
					&:after
					&:before
						opacity 1
					
				&:after
					background-color rgba(0,0,0,.7)
			
		&__text
			font-size 2.4vw
			
		
					
@media all and (min-width: 1200px)

	.nav-blocks
		
		&__text
			font-size 28px
	