// Miranda Jacobsen
// August 2017

//FONTS
@import url('https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display');

playfair = 'Playfair Display', serif;
montserrat = 'Montserrat', sans-serif;

gray = #666
white = #fff
black = #000
pink = #b698a3




