// Miranda Jacobsen
// August 2017

//FONTS
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Playfair+Display:100,200,300,400,500,600,700,800,900');

playfair = 'Playfair Display', serif;
montserrat = 'Montserrat', sans-serif;

gray = #5b5a5b
white = #fff
black = #000
pink = #b698a3
lightGreen = #5f6761
lighterGreen = #d4dac9
lightPink = #ECE6E8

boxShadow = 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);



