@import url("https://fonts.googleapis.com/css?family==Montserrat:100,200,300,400,500,600,700,800,900|Playfair+Display:100,200,300,400,500,600,700,800,900");
.footer {
  background: #5f6761;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 6vw;
  width: 100%;
  -webkit-box-ordinal-group: 21;
      -ms-flex-order: 20;
          order: 20;
}
.footer__navigation {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  border-bottom: 1px solid #fff;
}
.footer__contact {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
  color: #fff;
  font-size: 3.5vw;
  padding-bottom: 10vw;
}
.footer__contact h3 {
  text-transform: uppercase;
}
.footer__contact .link {
  color: #fff;
}
.footer__contact .list {
  border-bottom: 1px solid #fff;
  padding-bottom: 4vw;
}
.footer__contact .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__map {
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
}
.footer .navigation__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 4vw;
}
.footer .navigation__link {
  color: #fff;
  font-family: 'Playfair Display', serif;
}
.footer .dropdown {
  background-color: transparent;
  box-shadow: none;
  max-height: initial;
  opacity: 1;
  position: relative;
  top: 0;
  width: auto;
}
.footer .dropdown .navigation__list {
  padding-left: 8vw;
}
.footer .dropdown .navigation__link {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5vw;
  text-transform: initial;
}
.footer svg {
  width: 130%;
  margin-left: -15%;
}
@media all and (min-width: 980px) {
  .footer {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .footer svg,
  .footer__map {
    width: 35vw;
    margin-left: -8vw;
  }
  .footer .navigation__link:hover {
    text-decoration: underline;
  }
  .footer__navigation {
    border-bottom: 0;
  }
  .footer__contact {
    padding-bottom: 0;
  }
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__title {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  width: 100%;
  font-size: 2.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5vw 0 2vw;
}
.header__link {
  text-decoration: none;
}
.banner {
  min-height: 25vh;
  max-height: 25vw;
  margin-bottom: 5vh;
  max-width: 100%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.banner__image {
  height: 100%;
  width: auto;
}
.page-banner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6vw;
}
.page-banner__image {
  width: 100%;
  height: 100%;
}
.page-banner:after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  top: 0;
  left: 0;
}
.page-banner__title {
  color: #fff;
  width: 100%;
  text-align: center;
  top: 20%;
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-size: 5vw;
  position: absolute;
  z-index: 10;
}
@media all and (min-width: 980px) {
  .banner {
    margin-bottom: 5vw;
    height: auto;
  }
  .banner__image {
    width: 100%;
    height: auto;
  }
  .page-banner__title {
    top: 60%;
    font-size: 3vw;
  }
}
.intro {
  background: #5b5a5b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5vw;
  width: 100%;
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}
.intro__text {
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-size: 3vw;
  font-weight: normal;
  line-height: 2;
  margin-bottom: 4vw;
}
.intro__text--large {
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-size: 6vw;
  font-weight: normal;
  line-height: 1.5;
  max-width: 1000px;
  padding-bottom: 4vw;
  padding-top: 4vw;
  width: 98%;
}
.intro__name {
  font-size: 4vw;
  margin-top: 2vw;
}
.intro__link {
  color: #fff;
}
@media all and (min-width: 980px) {
  .intro__text {
    font-size: 1.5vw;
    line-height: 1.75;
  }
  .intro__text--large {
    font-size: 3vw;
    padding-bottom: 2vw;
    padding-top: 0;
  }
  .intro__name {
    font-size: 1.75vw;
  }
}
.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 8vw;
  max-width: 1000px;
  width: 90%;
}
.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 8vw;
  max-width: 1000px;
  width: 90%;
}
.column-3,
.column-2 {
  max-width: 100%;
  width: 90%;
}
@media all and (min-width: 980px) {
  .column-3 {
    max-width: 300px;
    width: 31%;
  }
  .column-2 {
    max-width: 425px;
    width: 48%;
  }
}
.nav-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1000px;
  padding-bottom: 6vw;
  width: 90%;
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
}
.nav-block {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 90vw;
      flex-basis: 90vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  margin-bottom: 5vw;
}
.nav-block__image {
  border: 0;
  height: 100%;
  position: absolute;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  transition: all 0.35s ease;
  z-index: -1;
}
.nav-block__text {
  color: #fff;
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 7vw;
  font-weight: normal;
  padding: 10%;
  text-align: center;
  text-transform: uppercase;
  z-index: 10;
}
.nav-block:after {
  background-color: rgba(0,0,0,0.4);
  content: '';
  height: 100%;
  position: absolute;
  transition: all 0.35s ease;
  width: 100%;
}
.nav-block:hover .nav-block__image {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.nav-block:hover .nav-block:after {
  background-color: rgba(0,0,0,0.7);
}
@media all and (min-width: 980px) {
  .nav-blocks {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav-block {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    height: 27vw;
    max-height: 300px;
  }
  .nav-block__text {
    font-size: 2.4vw;
  }
}
.navigation {
  margin-bottom: 3vw;
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
  transition: all 0.4s ease-in-out;
  height: 100vh;
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 100000;
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
  text-transform: uppercase;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 4vw;
}
.navigation__list-item {
  list-style: none;
  position: relative;
}
.navigation__link {
  color: #000;
  padding: 0.5vw 3vw;
  position: relative;
  text-decoration: none;
}
.navigation.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.navigation-button {
  position: fixed;
  top: 20px;
  right: 25px;
  border: 0;
  background: 0;
  z-index: 100001;
}
.navigation-button__text {
  opacity: 0;
  width: 1px;
  height: 1px;
  font-size: 1px;
}
.navigation-button:before {
  content: "";
  position: absolute;
  left: 0;
  width: 25px;
  height: 4px;
  border-top: 12px double #5f6761;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  transition: all 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.navigation-button:after {
  content: "";
  position: absolute;
  left: 0;
  top: 13px;
  width: 25px;
  height: 4px;
  border-bottom: 4px solid #5f6761;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  transition: all 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.navigation-button.open:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: 4px solid #5f6761;
  top: 8px;
}
.navigation-button.open:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 5px;
}
.dropdown {
  background-color: #fff;
  max-height: 0;
  opacity: 0;
  position: relative;
  top: 0;
  transition: all 0.5s ease;
  width: 100%;
  z-index: -1;
}
.dropdown.open {
  max-height: 1000px;
  opacity: 1;
  z-index: 1;
}
.dropdown .navigation__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 5vw;
}
.dropdown .navigation__link {
  padding: 1vw;
  display: block;
}
@media all and (min-width: 980px) {
  .navigation__list {
    font-size: 1vw;
  }
  .dropdown {
    box-shadow: 0 50px 100px rgba(50,50,93,0.1), 0 15px 35px rgba(50,50,93,0.15), 0 5px 15px rgba(0,0,0,0.1);
    position: absolute;
    top: 25px;
    width: 100%;
  }
  .dropdown:hover {
    max-height: 400px;
    opacity: 1;
    z-index: 100;
  }
  .dropdown .navigation__list {
    padding: 0;
  }
  .dropdown .navigation__list-item:hover {
    background: #b698a3;
  }
  .dropdown .navigation__list-item:hover .navigation__link {
    color: #fff;
  }
  .dropdown .navigation__list-item:hover .navigation__link:after {
    height: 0;
  }
  .dropdown .navigation__link {
    padding: 1vw;
    display: block;
  }
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: 2 1C 2 1D 2 18 2 19;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* {
  box-sizing: border-box;
}
p {
  margin: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
}
h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
}
a {
  color: inherit;
}
.page-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.list {
  margin-bottom: 6vw;
  padding-left: 10px;
}
.list__item {
  line-height: 2;
  list-style: none;
  padding-bottom: 10px;
}
.list__item__title {
  font-weight: bold;
}
.text {
  margin-bottom: 5vw;
}
.about__image,
.image {
  padding-bottom: 3vw;
  width: 100%;
}
.text-link {
  color: #000;
}
.text-link:hover {
  color: #008000;
}
@media all and (min-width: 980px) {
  body {
    line-height: 1.5;
  }
  .text {
    margin-bottom: 2vw;
  }
}
