// Import all partials
@require './_*.styl'

body
	font-family montserrat
	line-height 2
	
h1,
h2,
h3
	font-family playfair
	
a 
	color inherit

.page-content
	display flex
	flex-wrap wrap
	justify-content center

.list
	margin-bottom 6vw
	padding-left 10px
	
	&__item
		line-height 2
		list-style none
		padding-bottom 10px
		
		&__title
			font-weight bold
.text 
	margin-bottom 5vw
	

.about__image, //remove this class
.image
	padding-bottom 3vw
	width 100%
	
.text-link
	color black
	
	&:hover
		color green

@media all and (min-width: 980px)
	body 
		line-height 1.5
	
	.text
		margin-bottom 2vw