// Import all partials
@require './_*.styl'

body
	font-family montserrat
	line-height 1.5

.page-content
	display flex
	flex-wrap wrap
	justify-content center

.intro
	background gray
	display flex
	flex-wrap wrap
	justify-content space-around
	padding 5vw
	width 100%
	
	&__text
		color white
		font-family playfair
		font-size 1.5vw
		font-weight normal
		line-height 1.75
		
		&--large
			color white
			font-family playfair
			font-size 3vw
			font-weight normal
			line-height 1.5
			max-width 1000px
			padding-bottom 2vw
			width 98%
			
	&__name
		font-size 1.75vw
		margin-top 2vw
			
	&__link
		color white

.list
	margin-bottom 6vw
	padding-left 10px
	
	&__item
		line-height 2
		list-style none
		padding-bottom 10px
		
		&__title
			font-weight bold
.text 
	margin-bottom 2vw
	

.about__image, //remove this class
.image
	padding-bottom 3vw
	width 100%
	
.text-link
	color black
	
	&:hover
		color green

